<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>FOVH - Flask OpenVPN Helper</title>
    </head>
    <body>
        <div class="container">
            <h1 class="fs-3 mt-3 mb-4 text-center"><a href="/" class="text-dark text-decoration-none">Flask OpenVPN Helper</a></h1>
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-4">
                    <h5>Gateway: {{ local_ip }}</h5>
                    {% if remote_ip == 'Unavailable' %}
                    <h5>Remote Address: <span class="text-danger">{{ remote_ip }}</span></h5>
                    {% else %}
                    <h5>Remote Address: {{ remote_ip }}</h5>
                    {% endif %}
                    {% if geolocation == 'Unavailable' %}
                    <h5>Geolocation: <span class="text-danger">{{ geolocation }}</span></h5>
                    {% else %}
                    <h5>Geolocation: {{ geolocation }}</h5>
                    {% endif %}
                    <h5>Status: {{ status }}</h5>
                    <form action="/" method="POST">
                        <div class="input-group">
                            <input type="text" list="ovpns" class="form-control" name="ovpn">
                            <button type="submit" class="btn btn-primary">Connect</button>
                        </div>
                        <datalist name="ovpns" id="ovpns">
                            {% for ovpn in ovpns %}
                            <option value="{{ ovpn }}"></option>
                            {% endfor %}
                        </datalist>
                    </form>
                    <a class="btn btn-outline-danger col-12 my-2" role="button" href="/disconnect">Disconnect</a>
                </div>
            </div>
        </div>
    </body>
</html>
